*.iml
.DS_Store
/captures
.externalNativeBuild
.cxx

### Idea ###
/.idea

### Local.properties ###
local.properties
/local.properties

### Gradle ###
.gradle
/build


### Google services ###
.google-services
google-services.json